{{ partial "header" . }}
{{ partial "nav" . }}

<div class="container post-shell">
  <article class="post-layout">
    <header class="post-header">
      <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
      <h1 class="subtitle is-size-4-mobile is-size-3-desktop">{{ .Title }}</h1>
    </header>
    <div class="content post-content{{ if in .Params.tags "notes" }} notes{{ end }}">
      {{ .Content }}
    </div>
  </article>
</div>
{{ partial "jsshare" . }}
{{ partial "disqus" . }}
